@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --In-page:#96376F;
    --hovermenu:#BD5F95;
    --BackgroundColor:#f2f2f2;
    --footer:#38172A;
    --textclaro:#B27A9B;
}


*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    
    overflow-x: hidden  ;
    

}

a{
    color: black;
    text-decoration: none;
}

header{
    
    background-image: url("/Images/Background/hoteliour-1.jpg") ;
    background-repeat: no-repeat;
    background-size:auto;
    height: 560px;
    overflow: hidden;
    
}

nav{
background-color:white;
margin-left: 2em;
display: flex;
max-width: 1056px;
width: auto; 
}

#sociais-header{
    margin-left: 2em;
    height: 1em;
    padding-bottom: 30px;
}

#conteiner-header-menu
{
    
    display: flex;
    flex-wrap: wrap;
}
.menu-header{
    padding: 10px;
    margin: 15px;
}
.menu-header:hover{
    background-color: var(--hovermenu);
    transition: background-color 0.5s ease; 
    color: white;
}

.img-logo
{
    margin-right: 7em;
}

#navesociais{
    margin-left: 50px;
}

#HamburgerMenu
{
    border: none;
    background: none;
    display:none;
    margin-left:30em
}


#mensage
{
    background-color: var(--BackgroundColor);
    padding-top: 4em ;
}

#text-mensage{
    text-align: center;
    max-width: 60em;
    margin-left: 30px;
    float: left;
   
}

#img-mensage{
    margin-left: 30px;
    margin-bottom: 30px ;
    
}

#top-rooms{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    gap: 2em;
    padding-bottom: 2em;
    
}
#top-rooms div {
    width: auto;
    height: auto;
}
#EconomicosRooms
{
    display: flex;
    background-color: var(--BackgroundColor);
    justify-content: space-around;
    flex-wrap:wrap;
   
}

#modern-room , #luxuryroom{
    background-color: var(--BackgroundColor);
}

#EconomicosRooms{
    padding-top: 50px;
}

#Compact, #family-room {
    margin-bottom: 2em;
}

#Compact, #family-room, #maxconfort
{
    background-color: white
}

#maxconfort
{
    height: fit-content;
}

#Services{
    display:flex;   
    flex-direction:row;
    word-wrap: normal;
    padding: 5em 0; 
    text-align: center;
}

#Services img 
{
        cursor: pointer;
}

.read-more
{
font-size: large;
color: var(--In-page);
}

#specialoffer
{
    background-color: var(--BackgroundColor);
    text-overflow: ellipsis;
    display: flex;
    gap: 2em;
    padding: 50px 100px;
    
}
#specialoffer  img
{

    border: 5px solid white;
    
}

#reviews{
    display:flex;   
    flex-direction:row;
    padding: 30px 0;
    gap: 20px;
    margin: 80px 80px;
    flex-wrap: wrap;
    
}
#footer
{
    color:var(--BackgroundColor);
    font-size: small;
    background-color: var(--footer);
}

#footer a 
{
    color: var(--BackgroundColor);
}

#galery-conteiner > img
{
    max-width:120px;
    max-height:100px;
    width: auto;
    height: auto;
}

#footer
{
    padding: 60px 60px;
    display: flex;
    flex-wrap: wrap;
}

#contact
{   
    display: flex;
    flex-direction: column; 
    margin-right: 80px;
}
#email{
    color: var(--hovermenu  );
}

#celular-email
{
 margin: 20px 0;   
}

#recentposts{
    
    margin-right: 50px;
}
#recentposts  a {
    
    
    color: var(--textclaro)
}
#recentposts li
{
    margin-top: 5px;
}

#galery-conteiner
{
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    gap: 10px;
}

#about
{
    width: 200px;
    margin-left: 30px ;
}


@media(max-width:1160px)
{
    #conteiner-header-menu li {
        display: none;
    }
    #HamburgerMenu
    {   
        display: block;
        background-color: none;
        justify-self:flex-end;
       
    }
}

@media(max-width:570px)
{
    #top-rooms
    {
        
    }
}

@media(max-width:1060px)
{
    #Services {
        flex-wrap: wrap;
    }
}

@media(max-width:960px)
{
    #specialoffer{
        flex-wrap: wrap;
    }       
}